<div class="user-details">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span> <span class="mat-h3">João da Silva</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Email: </span> <span class="mat-h3">João da Silva</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Telefone: </span> <span class="mat-h3">João da Silva</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Enderço: </span> <span class="mat-h3">João da Silva</span>
        </mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>
</div>

